.signin-layout {
    background-image: url('./assets/back_ground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Numans', sans-serif;
    padding-top: 90px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #ccc;
    text-align: center;
}
.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-tab {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    padding-left: 31px;
}

.activeLink {
    color: #029f5b;
    font-size: 18px;
}

.col-xs-6 {
    width: 50%;
}
.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}
.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.form-control {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.error-message {
    color: red;
    font-size: 14px;
}

.success-message {
    color: green;
    font-size: 14px;
}
.lable {
    font-size: 14px;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 14px;
    color: #dc3545;
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

/** End of newely Added styles **/
/** previous **/
.inner-app {
    width: 40%;
    margin: 5% 0 0 30%;
}

.App {
    display: flex;
    width: 100%;
    align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
    /* min-width: 250px; */
    max-width: 250px;
    background: #354052;
    color: #adb5bd;
    /* margin-left: -250px; */
    transition: all 0.5s;
    float: left;
    min-height: 100vh;
}

.sidebar.is-open {
    margin-left: 0;
    transition: 0.5s;
}


.sidebar-header {
    background: #313b4c;
    color: #adb5bd;
}

.sidebar-header h3 {
    color: #fff;
    padding: 1em;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.collapse.show,
.collapsing {
    background: #313b4c;
}

.nav-item {
    /*color: #ced4da;*/
    color: #adb5bd;
    font-weight: 500;
    font-size: 15px;
}

.nav-item.open {
    color: #e9ecef;
    background: #313b4c;
}

.nav-item > a {
    color: #e9ecef;
}
.nav-item.active {
    color: #e9ecef;
    background: #2d3646 !important;
}

.nav-link.active {
    color: #e9ecef;
    background: #2d3646 !important;
}

.nav-item > a:hover {
    background: #313b4c;
    color: #fff;
    transition: 0.2s;
}
.nav-item:hover {
    background: #313b4c;
    color: #fff;
    transition: 0.2s;
}

.nav-item .svg-inline--fa {
    color: inherit;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
}

.sidebar-header > button {
    position: relative;
    float: right;
    margin: 0.5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
    padding-top: 20px;
    margin-left: 0;
    height: 100%;
    float: left;
    font-size:16px;
}

@media only screen and(max-width: 575.98px) {
    body {
        overflow: hidden;
    }

    .content.is-open {
        /*margin-left: 100%;*/
        display: none;
        transition: all 0.5s;
    }

    .sidebar.is-open {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
        transition: all 0.5s, height 0s;
        height: 100% !important;
    }

    .sidebar.is-open > .sidebar-header button {
        display: block;
    }

    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }
    .btn-styles {
        font: size 14px;
    }

}
